.ui-kit__range-slider__title {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}

.ui-kit__range-slider__title-down {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);
    margin-top: 13px;
}

.searhroom-sliderrange {
    box-sizing: border-box;
    max-width: 266px;
    margin-top: 23px;
    max-height: 20px;
}

#slider-range {
    background: #FFFFFF;
    width: 266px;
    height: 6px;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
    margin-left: -0.6em;
}

#slider-range span {
    width: 12px;
    height: 12px;
    /* Secondary Gradient */
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

#custom-handle {
    width: 12px;
    height: 12px;
    /* Secondary Gradient */
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.ui-slider-range {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
}

#amount {
    width: 120px;
    height: 15px;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    margin-top: -46px;
    margin-left: 166px;
    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);
    outline: none;
}

input[type="checkbox" i] {
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    background: #FFFFFF;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
}