.landing-page__content_position-standart {
    position: absolute;
    margin-top: 70px;
    margin-left: 140px;
}

.landing-page__content_theme-standart {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 380px;
    height: 374px;
    padding: 40px 30px;
}

.landing-page__content-field_position-standart {
    margin-top: 0px;
}

.landing-page_position-standart {
    margin-left: auto;
    margin-right: auto;
}

.landing-page_theme-standart {
    height: 900px;
    width: 1440px;
}

.landing-background_theme-standart {
    background: url("https://lh3.googleusercontent.com/aplOmIU3wKD9aixc1rCGubngyBgsnKX7HtGXHoR6hOJheRlOoywyml0u3m2r1mA4mjoUlNvdr6AdCBXgw6lWwTTDywyk_yiwsPIRhVoas1izu2GrXS80Vya1bZBVHNFvuUGrgNE-Xw=w2400") no-repeat center center;
    background-size: cover;
    height: 900px;
    width: 100%;
}

.landing-background_position-standart {
    margin-left: auto;
    margin-right: auto;
}

.landing-page__content-title_position-standart {}

.landing-page__content-title_theme-standart {
    width: 320px;
    height: 59px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

.landing-page__content-field__block-min_position-standart {
    display: inline-block;
    margin-top: 21px;
    padding: 0px;
}

.landing-page__content-field__block-theme-standart {
    width: 150px;
    height: 65px;
}

.landing-page__content-field__block-min label {
    color: rgba(31, 32, 65, 0.75);
}

.landing-page__content-field__block-min_position-last {
    float: right;
    margin-top: 21px;
}

.landing-page__content-field__title_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.landing-page__content-field__title_position-standart {
    margin-top: 20px;
    display: inline-block;
}

.landing-page__content-field__block-min__label:hover,
.landing-page__content-field__block-min__label:focus {
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
}

.landing-page__content-field__button-all_position-standart {
    margin-top: 31px;
}

.landing-page__content-field__block-max_position-standart {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}


/* Тут все про dropdown  */