.searchroom-page_position-standart {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 70px;
}

.searchroom-page_theme-standart {
    width: 1200px;
    height: 100%;
}

.searchroom-line_position-standart {}

.searchroom-line_theme-standart {
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
    width: 100%;
}

.searchroom-page__filter_position-standart {
    position: static;
    float: left;
}

.searchroom-page__filter_theme-standart {
    width: 266px;
}

.searchroom-page__content_position-standart {
    display: inline-block;
    margin-left: 50px;
}

.searchroom-page__filter__box-two__title_theme-standart {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}

.searchroom-page__content__title_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

.searchroom-page__content__title_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

.searchroom-page__content__pagination_position-standart {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.h3-searhroom-pagenextup {
    margin-top: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    display: block;
    text-align: center;
}

.searhroom-room-pictures {
    border-radius: 5px 5px 0px 0px;
    width: 270px;
    height: 151.38px;
    background: url("https://lh3.googleusercontent.com/0wPQD1fjVMBj-dbqMNUOMk3NPnDeeTcnHC1SKvsuATY2uGBSFHo8K0aL3FaSsqKDtiDsv6PcWoXzZrm0welSvQB6lV59Pw6sSi4TeyKxhFdLDaVv7BPKnBTSlDupa5uHcnXh6nM0hg=w2400") no-repeat center center;
    background-size: cover;
}

.searhroom-room-ellipse {
    position: absolute;
    margin-top: -22.48px;
    margin-left: 213.75px;
}

.search-drop {
    position: relative;
    width: 266px;
    height: 44px;
    display: block;
    margin-top: 5px;
}

.search-icons-drop-two {
    margin-left: 222px;
}

.search-drop-content {
    width: 266px;
}

.dropdown-content-text-search {
    padding-bottom: 17px;
    width: 133px;
}

.searchroom-page__filter__box-two__label_position-standart {
    margin: 0;
    margin-top: 5px;
}

.searchroom-page__filter__box-two_position-standart {
    margin-top: 20px;
}

.searchroom-page__filter__box-six_position-standart {
    margin-top: 20px;
}

.searchroom-page__filter__box-three_position-standart {
    margin-top: 30px;
}

.searchroom-page__filter__box-four_position-standart {
    position: static;
    margin-top: 30px;
}

.searchroom-page__filter__box-five__title_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}

.searhroom-checkbox-can {
    display: block;
    margin-top: 10px;
}

.searhroom-checkbox-can:nth-of-type(1) {
    margin-top: 17px;
}

.searchroom-page__filter__box-five_position-standart {
    position: static;
    margin-top: 30px;
}

.h3-searhroom-checkbox {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */
    display: block;
    width: 236px;
    /* Dark 50% */
    margin-top: 5px;
    color: rgba(31, 32, 65, 0.5);
}

.h2-searhroom-checkbox-two {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    /* Dark 75% */
    color: rgba(31, 32, 65, 0.75);
}


/* Здесь выподающий чекбокс */

.searchroom-page__filter__box-seven_position-standart {
    margin-top: 30px;
}

.searchroom-page__filter__box-seven_theme-standart {
    width: 266px;
    outline: none !important;
}

.selectBox {
    position: relative;
}

.selectBox select {
    background-color: #FFFFFF;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
    outline: none !important;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.searchroom-page__filter__box-one__icons_position-standart {}

.icons-searhroom-two {
    width: 44px;
    height: 44px;
    color: rgba(31, 32, 65, 0.5);
    margin-top: -31px;
    margin-left: 222px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}