@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Основные настройки footer */

.footer-form_position-standart {
    position: static;
    left: 0;
    bottom: 0;
}

.footer-form_theme-standart {
    width: 100%;
    height: 443px;
}


/* Основные настройки большого квадрата footer виджетов */

.footer-form__widgets_position-standart {
    margin-bottom: 1px;
}

.footer-form__widgets_theme-standart {
    background: #FFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    width: 100%;
    height: 372px;
}


/* Основные настройки основного квадрата footer виджетов*/

.footer-form__widgets-content_position-standart {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.footer-form__widgets-content_theme-standart {
    height: 168px;
    width: 1170px;
}


/* Основные настройки нижнего бара */


/* Самая левая колонка виджетов */

.footer-form__widgets-content__logo-block_position-standart {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-top: 0px;
}

.footer-form__widgets-content__logo-block_theme-standart {
    width: 260px;
    height: 132px;
}

.footer-form__widgets-content__logo_theme-standart {
    width: 105.69px;
    height: 40px;
}

.footer-form__widgets-content__logo-title_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    width: 260px;
    height: 72px;
}

.footer-form__widgets-content__logo-title_position-standart {
    display: block;
    margin-top: 20px;
}


/* Заголовки виджетов*/

.footer-form__widgets-content__block-h3_position-standart {
    margin: 0px;
}

.footer-form__widgets-content__block-h3_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}


/* Подпункты виджетов*/

.footer-form__widgets-content li {
    list-style-type: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
    color: rgba(31, 32, 65, 0.5);
}

.footer-form__widgets-content ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 21px;
}


/* Виджеты по отдельности */

.footer-form__widgets-content__block-one_position-standart {
    display: inline-block;
    vertical-align: top;
    margin-right: 57px;
    margin-top: 0px;
}

.footer-form__widgets-content__block-one_theme-standart {
    width: 143px;
    height: 168px;
}

.footer-form__widgets-content__block-two_position-standart {
    vertical-align: top;
    display: inline-block;
    margin-right: 92px;
    margin-top: 0px;
}

.footer-form__widgets-content__block-two_theme-standart {
    width: 108px;
    height: 168px;
}

.footer-form__widgets-content__block-three_position-standart {
    display: inline-block;
    margin-right: 51px;
    vertical-align: top;
}

.footer-form__widgets-content__block-three_theme-standart {
    width: 149px;
    height: 130px;
}

.footer-form__widgets-content__block-four_position-standart {
    display: inline-block;
    vertical-align: top;
}

.footer-form__widgets-content__block-four_theme-standart {
    width: 245px;
    height: 84px;
}


/* Основные настройки Копирайт бара */

.footer-form__CopyrightBar_position-standart {
    width: 1440px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.footer-form__CopyrightBar ul {
    padding: 0px;
    margin-top: 23px;
}

.footer-form__CopyrightBar i {
    width: 24px;
    height: 24px;
    font-family: Font Awesome 5 Brands;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    background: linear-gradient(#BC9CFF 0%, #8BA4F9 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.footer-form__CopyrightBar li {
    margin-right: 20px;
    vertical-align: top;
    display: inline-block;
}

.footer-form__CopyrightBar li:last-child {
    margin-right: 0px;
}

.footer-form__CopyrightBar-link_position-standart {
    position: static;
    display: inline-block;
    float: right;
    padding-right: 140px;
}

.footer-form__CopyrightBar-title_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
    width: 372px;
    height: 18px;
}

.footer-form__CopyrightBar-title_position-standart {
    display: inline-block;
    margin-left: 140px;
    margin-top: 26px;
}