.ui-kit__buttons-border {
    width: 99px;
    height: 44px;
    background: none;
    border-radius: 22px;
    border: 3px solid;
    border: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    outline: none;
    cursor: pointer;
}

.ui-kit__buttons-border_theme-blur {
    width: 99px;
    height: 44px;
    background: none;
    border-radius: 22px;
    border: 3px solid;
    border: 3px solid rgba(188, 156, 255, 0.5);
    color: #BC9CFF;
    outline: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
}