.ui-kit__buttons-background {
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.ui-kit__buttons-background-icons {
    width: 44px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    margin-top: -44px;
    margin-left: 276px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.signin-page__content__field__button_position-standart {
    margin-top: 10px;
}

.signin-page__content__field__login_position-standart {
    display: inline-block;
    width: 320px;
    margin-top: 30px;
}

.signin-page__content__field__login__h3_position-standart {
    display: inline-block;
}

.signin-page__content__field__login__h3_theme-standart {
    width: 164px;
    height: 44px;
}

.signin-page__content__field__login__h3 a {
    line-height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

.signin-page__content__field__login__buttin_position-standart {
    float: right;
}

.ui-kit__buttons-background_theme-min {
    width: 99px;
    height: 44px;
    background: none;
    border-radius: 22px;
    border: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
}

.ui-kit__buttons-background_theme-blur {
    width: 99px;
    height: 44px;
    background: none;
    border-radius: 22px;
    border: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
}